html {
	scroll-behavior: smooth;
}

html.lenis,
html.lenis body {
	height: auto;
}
.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.no-home .nav_menu {
	display: none !important;
}

// HOME PAGE
.features-products_actions {
	.swiper-pagination {
		.swiper-pagination-progressbar {
			background: var(--_theme---primary);
		}
	}
}

// SINGLE PRODUTO
.product-heading_features {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			background-image: url("https://cdn.prod.website-files.com/6939d0dbe3633bd3fd8054ce/6945bdc69f07e2a088c5fca0_bullet-blue.svg");
			background-size: 16px;
			background-position: left center;
			background-repeat: no-repeat;
			padding-left: 24px;
		}
	}
}

.product-gallery {
	.swiper-wrapper {
		.swiper-slide {
			opacity: 0;
			padding-right: 8px;
			transition: opacity 0.4s ease, transform 0.4s ease;

			&:last-child {
				padding-right: 0;
				margin-right: 0;
			}
			&.swiper-slide-active {
				opacity: 1;
			}

			&.is-past {
				opacity: 1;
				pointer-events: none;
			}
		}
	}
}

// SEÇÃO DE CARACTERÍSTICAS DO PRODUTO
.product-features ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	gap: 24px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
	flex: 1;
	position: relative;
	overflow: hidden;

	&:first-child > li {
		position: relative;
		background: var(--_theme---secondary);
		border-radius: 20px;
		border-style: solid;
		border-color: var(--_theme---border);
		border-width: 1px;
		padding: 24px;
		display: flex;
		flex-direction: column;
		gap: 8px;
		align-items: flex-start;
		justify-content: flex-start;
		flex: 1;
		min-width: 320px;
		min-height: 160px;
		position: relative;
		overflow: hidden;

		& > br {
			display: none;
		}

		& > strong {
			color: var(--_theme---primary);
			text-align: left;
			font-size: var(--type-text-sizes-h6);
			line-height: 130%;
			font-weight: 700;
			position: relative;
			align-self: stretch;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 0;
			margin: 0;
		}

		& > ul {
			padding: 0;
			margin: 0;

			& > li {
				color: var(--foreground);
				text-align: left;
				font-size: 16px;
				line-height: 150%;
				font-weight: 400;
				position: relative;
				align-self: stretch;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding: 0;
				margin: 0;
			}
		}
	}
}
// SEÇÃO ESPECIFICAÇÕES DO PRODUTO
.product-especifications ul {
	column-count: 3;
	column-gap: 64px;
	& > li {
		break-inside: avoid;
		margin-bottom: 8px;
	}
}
